<!DOCTYPE html>
<html>
  <head>
    <title>Antuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container'>
    <%= render '/components/navbar' %>
    <%= render '/components/flash' %>
    <%= yield %>
  </body>
  <footer class="py-4 bg-light text-white-50">
    <div class="container text-secondary text-center">© 2020 Copyright:
      <a href="http://antuby.co"> antuby.co </a>
    </div>
  </footer>
</html>
